TON_NETWORK=mainnet
TON_API_BASE_URL=https://tonapi.io
TON_API_KEY=
TON_RINGS_COLLECTION_ADDRESS=
TON_DIAMONDS_COLLECTION_ADDRESS=EQAG2BH0JlmFkbMrLEnyn2bIITaOSssd4WdisE4BdFMkZbir
SIGNATURE_DOMAIN=localhost
DATABASE_URL=file:./data/enchantments.db
